@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat&family=Open+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Dancing+Script:wght@400;700&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cardHighlight {
  min-height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.photo {
  height: 250px;
  width: 250px;
  display: block;
  margin-top: 1em;
  margin-left: 18.5em;
  margin-bottom: 4rem;
  padding-bottom: 2em;
  width: 25%;
  height: inherit;
  justify-content: center;
}

.shopNow {
  margin-top: 60px;
  margin-left: 35em;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/* #bg {
  background-image: url("");
  width: 300px;
  height: 300px;
} */
#navbar {
  /* background-color: transparent; */
  background-image: url("./assets/antique.jpg");
  filter: brightness(1.00);
  background-size: cover;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px 10px;
  width: 100%;
  border-radius: 0;
  margin-bottom: 10px;
}

#navBrand {
  font-family: "Dancing Script";
  font-weight: 900;
  font-size: 3rem;
}

a.nav-link {
  font-family: "Cinzel";
  font-weight: bold;
  font-size: 1.5rem;
}


#wholebg {
  position: relative;
  left: 15%;
  height: 100%;
  width: 100%;
}

#banner {
  height: 30rem;
  padding-top: 1rem;
}

.bannerText {
  font-family: "Black Ops One";
  font-size: 5.5rem;
  color: #c7c4c1;
  position: relative;
  bottom: 30%;
  right: 15%;
  text-align: center;
}

#btn {
  position: relative;
  align-content: center;
  width: 10rem;
  padding: 1rem;
  display: inline-block;
}
#registerForm {
  background: transparent;
  box-shadow: inset 0 0 2000px rgba(235, 222, 163, 0.8);
  font-family: "Monserrat";
  font-size: 1.5rem;
  position: relative;
  right: 40%;
}

.text-muted {
  color: aqua;
}

#titleRegister {
  font-family: "Monserrat";
  font-weight: bold;
}
#regImg {
  background-repeat: no-repeat;
  height: 1000px;
  position: relative;
  left: 40%;
}
body {
  overflow-x: hidden;
}

#login {
  width: 30rem;
  height: 20rem;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  font-family: "Monserrat";
  font-size: 1.5rem;
}

#login:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(235, 222, 163, 0.8);
  filter: blur(1px);
  margin: -20px;
}

#logintitle {
  font-family: "Cinzel";
  font-weight: bold;
}

#profileCard {
  width: 30rem;
  height: 20rem;
  box-shadow: 0 0 1rem 0 rgba(13, 55, 35, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  align-items: center;
}

#profileCard:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(89, 181, 143, 0.95);
  filter: blur(1px);
  margin: -20px;
}

.noAccess {
  font-family: "Cinzel";
  font-weight: bold;
  text-align: center;
}

.CourseCard {
  align-items: center;
}

.available {
  font-family: "Cinzel";
  font-weight: bold;
}
